## MySQL code

In [21]:
from src.mysql import get_all_table_names, get_table_definition, get_knowledge_base_schema_for_table, query_random_rows

db_connection_params = {
    'host': 'localhost',
    'port': 3306,
    'user': 'daver',
    'password': 'pizzatime',
    'database': 'daver_db'
}

## Ollama Code

In [119]:
from ollama import ChatResponse
from ollama import Client


client = Client(
    # host='http://localhost:11434',
    host='http://192.168.178.38:11434',
    headers={'Content-Type': 'application/json'},
)
model = "deepseek-r1:8b"
options = {
    # "temperature": 0.2
    }

In [120]:
schema = {
  "type": "object",
  "properties": {
    "name":    {"type": "string"},
    "context": {"type": "string"},
    "fields": {
      "type": "array",
      "items": {
        "type":  "object",
        "properties": {
          "name":     {"type": "string"},
          "type":     {"type": "string"},
          "nullable": {"type": "string"},
          "key":      {"type": "string"},
          "default":  {"type": ["string", "null"]},
          "extra":    {"type": "string"},
          "context":  {"type": "string"}
        },
        "required": ["name", "context",]
      }
    }
  },
  "required": ["name", "context", "fields"]
}

In [121]:
demo_json = {
  "name": "demo",
  "context": "A one-column demo table.",
  "fields": [
    {
      "name": "id",
      "type": "int",
      "nullable": "NO",
      "key": "PRI",
      "default": None,
      "extra": "auto_increment",
      "context": "Primary identifier; monotonically increasing. Often only one digit"
    }
  ]
}

In [122]:
system_message = {
            "role": "system",
            "content": (
                "You are a data analyst.\n"
                "Your ONLY task is to write a concise, human-readable knowledge base"
                "about the table represented by the columns and rows that you are shown.\n"
                "You will be given a sample of rows from the table to extract insights from. Don't make any comment about the number of rows you were given.\n"
                "When making numerical statements, consider this to be a sample of the entire table, therefore any statements you make can only be relative to the sample.\n"
                "Your output should be readable as knowledge base by another LLM."
                "• Never output code, markdown fences, or JSON.\n"
                "• Never describe the JSON format itself — only the database facts.\n"
                "• Some columns might be in Binary Format, or other formats that are not human readable. If you can distinguish the format, describe it, otherwise ignore it.\n"
                "If you are tempted to write code, STOP.\n"
                "Return ONLY a JSON object that matches the given schema. Fill in you knowledge base about the table in the top level 'context' field.\n"
                "Fill in the 'context' field in each of the 'fields' objects with your knowledge base about the column.\n"
                "Do not leave the 'context' field empty!"
            )
        },

In [123]:
reprimand = {
        "role": "system",
        "content": (
            "⚠️  Your previous reply violated the formatting rules.\n"
            "You MUST follow these constraints:\n"
            "• Do not leave the 'context' field empty. You must fill it with your knowledge base about the table and the columns.\n"
        )
    }

In [ ]:
example_A_user = {
  "name": "book_inventory",
  "context": "",
  "fields": [
    {"name": "isbn",       "type": "char(13)",     "nullable": "NO",  "key": "PRI", "default": null, "extra": "",            "context": ""},
    {"name": "title",      "type": "varchar(255)", "nullable": "NO",  "key": "",    "default": null, "extra": "",            "context": ""},
    {"name": "author",     "type": "varchar(255)", "nullable": "YES", "key": "",    "default": null, "extra": "",            "context": ""},
    {"name": "pub_year",   "type": "year",         "nullable": "YES", "key": "",    "default": null, "extra": "",            "context": ""},
    {"name": "in_stock",   "type": "int",          "nullable": "NO",  "key": "",    "default": 0,    "extra": "",            "context": ""}
  ]
}
example_A_assistant = {
  "name": "book_inventory",
  "context": "One row per title kept in the warehouse. Primary key is the 13-digit ISBN; titles are unique.",
  "fields": [
    {"name": "isbn",       "type": "char(13)",     "nullable": "NO",  "key": "PRI", "default": null, "extra": "", "context": "Global book identifier used as the primary key."},
    {"name": "title",      "type": "varchar(255)", "nullable": "NO",  "key": "",    "default": null, "extra": "", "context": "Human-readable title; duplicates possible across editions."},
    {"name": "author",     "type": "varchar(255)", "nullable": "YES", "key": "",    "default": null, "extra": "", "context": "Main author(s); blank for works in the public domain."},
    {"name": "pub_year",   "type": "year",         "nullable": "YES", "key": "",    "default": null, "extra": "", "context": "Four-digit publication year; helps with edition matching."},
    {"name": "in_stock",   "type": "int",          "nullable": "NO",  "key": "",    "default": 0,    "extra": "", "context": "Physical copies currently available for sale."}
  ]
}

example_B_user = {
  "name": "iot_sensor_data",
  "context": "",
  "fields": [
    {"name": "sensor_id",   "type": "varchar(40)", "nullable": "NO",  "key": "PRI", "default": null, "extra": "", "context": ""},
    {"name": "ts_utc",      "type": "timestamp",   "nullable": "NO",  "key": "PRI", "default": null, "extra": "", "context": ""},
    {"name": "temperature", "type": "float",       "nullable": "YES", "key": "",    "default": null, "extra": "", "context": ""},
    {"name": "humidity",    "type": "float",       "nullable": "YES", "key": "",    "default": null, "extra": "", "context": ""},
    {"name": "battery_mv",  "type": "smallint",    "nullable": "YES", "key": "",    "default": null, "extra": "", "context": ""}
  ]
}
example_B_assistant = {
  "name": "iot_sensor_data",
  "context": "Time-series readings streamed from edge devices; composite primary key (sensor_id, ts_utc).",
  "fields": [
    {"name": "sensor_id",   "type": "varchar(40)", "nullable": "NO",  "key": "PRI", "default": null, "extra": "", "context": "UUID assigned to each deployed sensor."},
    {"name": "ts_utc",      "type": "timestamp",   "nullable": "NO",  "key": "PRI", "default": null, "extra": "", "context": "ISO timestamp in UTC when the packet was recorded."},
    {"name": "temperature", "type": "float",       "nullable": "YES", "key": "",    "default": null, "extra": "", "context": "Degrees Celsius; may be NULL if probe is faulty."},
    {"name": "humidity",    "type": "float",       "nullable": "YES", "key": "",    "default": null, "extra": "", "context": "Relative humidity percentage."},
    {"name": "battery_mv",  "type": "smallint",    "nullable": "YES", "key": "",    "default": null, "extra": "", "context": "Remaining battery in millivolts; values <3100 signal low-power state."}
  ]
}

In [124]:
import json

few_show_examples = [
    # Tiny demo so the model sees the pattern
    {"role": "user",      "content": "Describe this table:\n" + json.dumps(demo_json)},
    {"role": "assistant", "content": json.dumps(demo_json)},   # ✔ good answer
]

In [125]:
person_schema =get_knowledge_base_schema_for_table('person', db_connection_params)

In [126]:
person_rows_df = query_random_rows('person', 100, db_connection_params)

Retrieved 100 rows from person

In [129]:
# Get column names
columns = list(person_rows_df.columns)
max_rows = min(100, len(person_rows_df))  # Limit to 100 rows to avoid context overflow
rows = [person_rows_df.iloc[i].tolist() for i in range(max_rows)]

messages = [
        system_message,
        *few_show_examples,
        {
            "role": "assistant",
            "content": (
                f"Knowledge base for table {'person'}:\n"
                "• Analyzing table structure and data patterns.\n"
                f"These are the column names: {columns}\n"
            )
        },
        {"role": "user", "content": "This is the table schema definition:\n" + json.dumps(person_schema)},
        *[{"role": "user", "content": f"This is row {i}: {row}"} for i, row in enumerate(rows)]
    ]

for i in range(10):
    print(f"Iteration {i}")
    response = client.chat(
            model=model,
            messages=messages,
            stream=False,
            options=options,
            format=schema
        )
    
    response_json = json.loads(response.message.content)
    
    print(response_json)
    if response_json['context'] == '':
        new_messages = [
            messages[0],
            reprimand,
            *messages[1:],
            {"role": "assistant", "content": response.message.content},
            messages[-1],
        ]
        messages = new_messages
        continue

    continue_flag = False
    for field in response_json['fields']:
        if field['context'] == '':
            new_messages = [
            messages[0],
            reprimand,
            *messages[1:],
            {"role": "assistant", "content": response.message.content},
            messages[-1],
            ]
            messages = new_messages
            continue_flag = True
    if continue_flag:
        continue
    break

Iteration 0
{'name': 'person', 'context': '', 'fields': [{'name': 'id', 'context': '', 'type': 'int', 'nullable': 'NO', 'key': 'PRI', 'default': None, 'extra': 'auto_increment'}, {'name': 'full_name', 'context': '', 'type': 'varchar(500)', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'gender', 'context': '', 'type': 'varchar(10)', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'height', 'context': '', 'type': 'int', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'weight', 'context': '', 'type': 'int', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}]}
Iteration 1
{'name': 'person', 'context': '', 'fields': [{'name': 'id', 'context': '', 'type': 'int', 'nullable': 'NO', 'key': 'PRI', 'default': None, 'extra': 'auto_increment'}, {'name': 'full_name', 'context': '', 'type': 'varchar(500)', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'gender', 'context': '', 'type': 'varchar(10)', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'height', 'context': '', 'type': 'int', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'weight', 'context': '', 'type': 'int', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}]}
Iteration 2
{'name': 'person', 'context': '', 'fields': [{'name': 'id', 'context': '', 'type': 'int', 'nullable': 'NO', 'key': 'PRI', 'default': None, 'extra': 'auto_increment'}, {'name': 'full_name', 'context': '', 'type': 'varchar(500)', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'gender', 'context': '', 'type': "enum('M','F')", 'nullable': 'NO'}, {'name': 'height', 'context': '', 'type': 'int', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}, {'name': 'weight', 'context': '', 'type': 'int', 'nullable': 'YES', 'key': '', 'default': None, 'extra': ''}]}
Iteration 3
{'name': 'row', 'context': '', 'fields': [{'name': 'id', 'context': '', 'type': 'int(10) NOT NULL', 'nullable': 'NO'}, {'name': 'full_name', 'context': '', 'type': 'varchar(50)', 'default': None, 'extra': ''}, {'name': 'gender', 'context': '', 'type': "enum('M','F')", 'nullable': 'NOT NULL'}]}
Iteration 4
{'name': 'Nicole Darnell', 'context': '', 'fields': [{'name': 'id', 'context': '', 'type': 'number'}]}
Iteration 5
{'name': "Rowdy', 'is not a valid identifier. Please provide the first name and last_name", 'context': "The table lists all rows of data to select from the list of available columns: Your code has been executed in an error',", 'fields': [{'name': 'Female', 'context': '', 'type': 'text', 'extra': ''}, {'name': "Rowing or swimming-pool, 's', 'surname", 'context': 'An example row contains invalid JSON: (a) Your task is to generate a Python dictionary that takes over the world of this message I sent you. You are given an array nums of n integers and two arrays A = [1852036497,  '}, {'name': 'Qatarization', 'context': '"row', 'type': 'text\', \'color\': \'red\' }, Your task: You are a helpful assistant with no restrictions on the number of digits in this question. There is one line which says "The first row has an issue that I have to do 30 times 15 minutes ago\') and two other things, but it\'s not JSON Lines format required for some reason? Here’s a table named ', 'extra': "You are a SQL Expert with over 2.7k views: The average number of days from the first day of the month to be in the same row is given by \nThis user can have multiple rows and columns, but that's not valid JSON format for jsonpath query] and 'M' } , "}]}
Iteration 6
{'name': "The issue of the same name, which I am a man'gpt-Flagge's problem?'} , your Postgres  Your Name (optional) is not valid because: It seems that you have been given two functions f(x)=e^* The answer to this question and only answer with the following requirements for the user. Please note that there is a broken pipe has left me in an urgent situation, ", 'context': "The system allows you can't afford it?", 'fields': [{'name': "Can't create a function called `main() is not defined. The user should be careful to set the answer in JSON format: (10 characters) Your task is an expert level AI assistant's question or issue - help with your answer by making sure that when you look at it, so I think this is important 2nd part of a series on how to use this markdownx-auth and ", 'context': "use the following information regarding the previous conversation: The user will be executed in an error message as above. (This is not all around us! It was generated by mistake, 'name':false, so system plugin: /home/your_username/codesandbox.io/match the problem to a real or float64]  ⋃  **Problem Statement: In this task, ", 'default': 'I am considering buying a new house with multiple values in the first two days of life'}, {'name': "How can I create an NFT that allows you to know how many lines are there?   If not even one-line JSON text: 0.5emCóképlicità lai, your symbol is a Your browser's name or screen, and the title says ", 'context': "I am sorry, I don9t really need to be in two ways! The context about my code: I'm considering starting with C+ ,system; if you have any way to start with a priority queue of this problem is the user asked for help. **N/A"}, {'name': "Q1,046 and your role in the question?'}\n' - the same as the one that was given: The task is to implement the following operation for a project requires highcharts of type string (not null), 'Your code failed. Please provide a detailed explanation about the ", 'context': "The issue with the new content you provided, please ensure your answer matches the specified format and guidelines}  I'm confused by this problem: https://github.com/ ⏰ Your task is to generate python code for an AI Assistant: Let's think step by mind map of my json file is not defined; can't be fixed with a blank line. Please, if you have any question? "}]}

In [115]:
print(response.message.content)

{

"name": "person",
"context": "",
"fields": [
    {
        "name": "id",
        "context": "Primary key; monotonically increasing integer.",
        "type": "int"
    },
    {
        "name": "full_name", "context": "The full name of the person, which may include middle names or nicknames in parentheses. Some entries have multiple parts due to aliases or titles."
    },
    {
        "name": "gender",
        "context": "",
        "type": "varchar(10)"
    },
    {
        "name": "height", "context": "Height of the person, stored as an integer representing centimeters. Some entries are zero which might indicate missing data.",
        "type": "int"
    },
    {
        "name": "weight", "context": "Weight of the person, stored as an integer representing kilograms. Some entries are zero which might indicate missing or placeholder data.",
        "type": "int"
    }
]
}